[Desktop Entry]
Type=Service
Icon=view-pim-mail
X-KDE-ServiceTypes=KPluginInfo

X-KDE-Library=jsonplugin

X-KDE-PluginInfo-Name=jsonplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-DocPath=doc/path

Comment=Test plugin
Name=Test

